parameters:
  level: max
  paths:
    - src/
    - tests/
  ignoreErrors:
    - '/Call to an undefined method Respect\\Assertion\\Mixin\\Chain\\Mixin::[a-zA-Z]+\(\)/'
    - identifier: method.nonObject
      paths:
        - tests/integration/
