parameters:
  level: max
  paths:
    - src/
    - tests/
  fileExtensions:
    - php
    - phpt
  ignoreErrors:
    - '/Call to an undefined method Respect\\Assertion\\Mixin\\Chain\\Mixin::[a-zA-Z]+\(\)/'
